* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html,
body {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}

a,
a:link {
  text-decoration: none;
}

.container {
  display: flex;
  // left side styles
  .left-side {
    padding: 0 2rem 2rem 2rem;
    width: 20rem;
    background-color: #1d426c;

    .inner-container {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .title-text {
        color: #f2f2f2;
        font-size: 1.5rem;
        border-left: 0.8rem solid #f9be01;
        padding-left: 1rem;
        padding-top: 3rem;

        .sub-txt {
          font-size: 1.4rem;
          font-weight: 400;
        }
      }

      .description-text {
        .desc-para {
          margin-bottom: 2rem;
          color: #f1f1f1;
          font-size: 1rem;
          font-weight: 300;

          a {
            color: #8a9eb3;
          }
        }
      }

      .bottom {
        .email {
          font-size: 0.9rem;
          color: #f2f2f2;
          text-decoration: underline;
          display: inline-block;
          margin-bottom: 1rem;
        }

        .logo-text {
          font-size: 1.2rem;
          color: #f2f2f2;
          text-transform: uppercase;

          span {
            color: #987c3d;
          }
        }
      }
    }
  }

  .right-side {
    width: 100%;

    .form {
      display: flex;
      justify-content: center;
      padding-top: 2rem;
      form {
        width: 100%;
        margin: 0 auto;
        display: inline-block;
        text-align: center;

        select {
          width: 50%;
          padding: 0.4rem 1rem;
          font-size: 1.2rem;
          display: inline-block;
          border: 1px solid #1d426c;
          color: #1d426c;
          background-color: transparent;
        }
      }
    }
    .map-container {
      text-align: center;
      height: 100%;
      padding-top: 5rem;

      #map {
        margin: 0 auto;
        width: 40rem;
        height: 28rem;
      }
    }
  }
}

.popover {
  position: absolute;
  display: none;
  background: #fff;
  border: 1px solid #999;
  padding: 10px;
  width: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 100000;
  height: 8rem;
  width: 10rem;
  pointer-events: visible;

  .link {
    color: blue;
    display: block;
    cursor: pointer;
    margin-top: 2rem;
  }
}
.popover:after,
.popover:before {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

// .popover:after {
//   border-color: rgba(255, 255, 255, 0);
//   border-right-color: #ffffff;
//   border-width: 10px;
//   top: 50%;
//   margin-top: -10px;
// }
// .popover:before {
//   border-color: rgba(201, 201, 201, 0);
//   border-right-color: #c9c9c9;
//   border-width: 11px;
//   top: 50%;
//   margin-top: -11px;
// }
